/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
a {
	text-decoration-thickness: 1px !important;
	text-underline-offset: .1em;
}
/* ---- Simple Booking calendar (Flatpickr) ---- */
.sb-day-booked {
  opacity: 0.45;
  text-decoration: line-through;
}

.flatpickr-calendar.inline {
  margin-top: 12px;
}

